<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:app.properties"/>

    <bean id="A"
          class="com.roman.domain.A">
        <property name="name" value="${A.name}"/>
    </bean>
    <bean id="B"
          class="com.roman.domain.B">
        <constructor-arg  ref="A"/>
    </bean>
    <bean id="C"
          scope="singleton" class="com.roman.domain.C">
        <lookup-method name="getD" bean="D"/>
    </bean>
    <bean id="D"
          scope="prototype" class="com.roman.domain.D">
    </bean>
    <bean id="E"
          class="com.roman.domain.E">
        <replaced-method name="printClassName" replacer="NewE"/>
    </bean>
    <bean id="NewE"
          class="com.roman.domain.NewE">
    </bean>



</beans>