<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:app.properties"/>
    <bean class="com.roman.domain.ApplicationBeanPostProcessor"/>

    <bean id="BeanA" class="com.roman.domain.BeanA">
        <property name="name" value="${BeanA.name}"/>
    </bean>
    <bean id="BeanB" class="com.roman.domain.BeanB">
        <constructor-arg ref="BeanA"/>
    </bean>
    <bean id="BeanC" scope="singleton" class="com.roman.domain.BeanC">
        <lookup-method name="getBeanD" bean="BeanD"/>
    </bean>
    <bean id="BeanD" scope="prototype" class="com.roman.domain.BeanD"/>

    <bean id="BeanE" class="com.roman.domain.BeanE">
        <replaced-method name="printClassName" replacer="NewBeanE"/>
    </bean>
    <bean id="NewBeanE" class="com.roman.domain.NewBeanE"/>
    <bean id="BeanF" class="com.roman.domain.BeanF"
          init-method="init"
          destroy-method="destroy">
        <property name="name" value="BeanF"/>
    </bean>


</beans>